.g.article-layout {
    display: flex;
    flex: 1;
    flex-direction: row;
    position: relative;

    @include media('mobile') {
        flex-direction: column;
    }

    &#calendarer {
        user-select: none;
    }
}
