.g.pop-up-content {
    flex-grow: 1;
    overflow: auto;
    position: relative;
    padding: 0 $interval-m;
    max-height: calc(100vh - 140px);
    max-width: calc(100vw - 100px);

    @include media('mobile') {
        max-width: 100vw;
        padding: 0 $interval-m;
    }

    // &.iframe {

    // }

    // &.htmlframe {

    // }

    // &.html, &.text {
    //     overflow: auto;
    // }

	// &.is-loading {
    //     @extend %loading;

    //     &:before {
    //         position: absolute;
    //         bottom: 0;
    //         right: 0;
    //         width: auto;
    //         height: auto;
    //     }
	// }
}
